.ForgotPasswordOtp {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(270deg, #FFFFFF 35%, #566B94 93%);
  font-family: "Open Sans", sans-serif;
  display: flex;
}

.ForgotOtpLeftPanel {
  width: 55%;
  min-height: 100vh;
  padding: 45px 50px 35px;
}

.ForgotOtpSection {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ForgotOtpLogo {
  width: 44px;
  height: 44px;
  background: #176789;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.ForgotOtpLogo > img {
  width: 22px;
  height: 18px;
  object-fit: contain;
}

.ForgotOtpTitle h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 25px;
}

.ForgotOtpTitle p {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  line-height: 25px;
}

.ForgotOtpTitleDot {
  width: 4px;
  height: 4px;
  background: #ffffff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
}
